* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
}

.close {
  margin-left: 520px;
  margin-top: 20px;
  cursor: pointer;
  border:none;
  font-size: 40px;
  background-color: white;
}

.steps {
  background-color: rgb(240, 244, 245);
  max-width: 500px;
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 50px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.numbers {
  display: flex;
  justify-content: space-between;
  height: 40x;
  margin-bottom: 40px;
}

.numbers > div {
  margin: auto;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 50px;
  border-radius: 50%;
  background-color: #e1e2e8;
}

.numbers .active {
  background-color: #7950f2;
  color: #fff;
}

.message {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 40px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 0px 65px 0px;
}

.buttons button {
  background-color: #7952f2;
  color: white;
  border-radius: 10px;
  padding: 7px 10px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
